version: '3.8'

services:
    php:
        build:
            context: .
            dockerfile: docker/Dockerfile
        volumes:
            - .:/var/www/html
        ports:
            - "9000:9000"
        environment:
            XDEBUG_MODE: ${XDEBUG_MODE:-develop,debug}
            XDEBUG_CLIENT_HOST: ${XDEBUG_CLIENT_HOST:-host.docker.internal}
            XDEBUG_CLIENT_PORT: ${XDEBUG_CLIENT_PORT:-9090}
            PHP_IDE_CONFIG: ${PHP_IDE_CONFIG:-serverName=andanteproject-nullable-embeddable-bundle}
            XDEBUG_START_WITH_REQUEST: ${XDEBUG_START_WITH_REQUEST:-yes}
