includes:
    - extension.neon

parameters:
    level: 9
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    scanDirectories:
        - src
        - tests
        - phpstan-stubs
    excludePaths:
        - tests/Fixtures/ValidClosureProcessorEntity
        - tests/PHPStan
        - tests/Functional/PHPStanRulesIssuesTests/Fixtures
